<div class="col-12 p-0 tw-relative">

    <ngx-spinner bdColor="rgba(0,0,0,0.8)" color="#fff" type="timer" size="large" [fullScreen]="false">
        <p style="color: white;margin-top: 30px;">Loading Datas...</p>
        <!--if fullscreen false  Your parent container(div) should have position: relative;  -->
    </ngx-spinner>
    <p-messages></p-messages>
    <p-toast></p-toast>

    <div class="grid col-12 p-0  tw-w-full">
        <!--/////// speedDial ////////-->
        <div class="grid tw-relative tw-w-full">        
            <div class="grid tw-fixed  tw-h-screen pl-10 ">
                <div style="position: relative;left: 20; top: calc(50% - 10rem);margin-left: 15px;"  >                  
                   <p-speedDial [model]="speedDialitems" direction="right"  [transitionDelay]="50" showIcon="pi pi-bars" hideIcon="pi pi-times"
                    buttonClassName="p-button-outlined" class="ml-3"></p-speedDial>
                </div>
            </div>
        </div>
        <!--/////// speedDial End////////-->

        
        <div class="col-12 w-full">
             
            <div class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-3 gap-3">
               
                <div class="flex align-items-center">
                    <img src="assets/demo/images/avatar/profile.jpg" width="64" alt="profile"
                        class="border-circle border-2 border-primary flex-shrink-0" />
                    <div class="ml-3">
                        <span class="text-4xl font-light">{{title}}{{fname}} {{lname}}</span>
                        <div class="text-color-secondary">
                            <span class="text-black-alpha-90 font-bold mr-2">อายุ :</span>
                            <span class="text-black-alpha-60 font-semibold mr-4">{{age | thaiage}} {{age }}</span>
                            <span class="text-black-alpha-90 font-bold mr-2">เพศ :</span>
                            <span class="text-black-alpha-60 font-semibold mr-4">{{gender}} </span>
                            <span class="text-black-alpha-90 font-bold mr-2">AN :</span>
                            <span class="text-black-alpha-60 font-semibold mr-4">{{an}} </span>
                            <span class="text-black-alpha-90 font-bold mr-2">HN :</span>
                            <span class="text-black-alpha-60 font-semibold">{{hn}} </span>

                        </div>
                    </div>
                </div>
                <div class="flex flex-wra align-content-center gap-3 tw-mr-10">
                    <div class="flex flex-wrap justify-content-end tw-mt-3">
                        <div class="flex">
                            <button pButton pRipple icon="pi pi-arrow-left" type="button" label="ย้อนกลับ"
                                class="p-button-outlined" (click)="backPage()"></button>
                        </div>
                    </div>

                    <div class="flex flex-row flex-wrap ">
                        <div>
                            <!-- <p-speedDial [model]="speedDialitems" direction="down" buttonClassName="p-button-success"
                                className="speeddial-left"></p-speedDial> -->

                            <!-- <p-speedDial [model]="speedDialitems" className="speeddial-left" direction="down"
                                [transitionDelay]="50" showIcon="pi pi-bars" hideIcon="pi pi-times"
                                buttonClassName="p-button-outlined"></p-speedDial> -->
                               
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="card">
        <div class="surface-section px-4">
            <div class="font-bold text-xl text-800 mb-3">History </div>
            <div class="grid nogutter">
                <div class="col-12 p-2">
                    <div class="border-top-2 border-blue-600 mb-2"></div>
                    <div class="line-height-3 mb-3 lg:mb-1"><span class="font-bold">Chief Compaint :</span>
                        <span>{{chief_complaint}}</span>
                    </div>
                    <div class="line-height-3 mb-3 lg:mb-1"><span class="font-bold">Present Illness :</span>
                        <span>{{present_illness}}</span>
                    </div>
                    <div class="line-height-3 mb-3 lg:mb-1"><span class="font-bold">Past Illness :</span>
                        <span>{{past_history}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <!-- //////////////Past History/////////////////////////////////////////////////////////////////////////////////// -->

        <div>
            <div class="flex tw-flex-col mt-2"></div>
            <div class="font-bold text-xl text-800 mb-3">Past History </div>

            <div class="grid h-full p-4 tw-items-center">
                <div class="col-12 md:col-6 lg:col-4 xl:col-3 py-0 mb-2">
                    <div class="flex flex-row my-auto align-content-center tw-items-center py-0">
                        <div class="font-bold w-11rem">โรคประจำตัว</div>
                        <div class="mr-6">
                            <p-radioButton name="is_chronic" [value]="false" [(ngModel)]="is_chronic"
                                id="is_chronic"></p-radioButton>
                            <label for="is_chronic" class="ml-2">ไม่มี</label>
                        </div>
                        <div><p-radioButton name="is_chronic" [value]="true" [(ngModel)]="is_chronic"
                                id="is_chronic2"></p-radioButton>
                            <label for="is_chronic2" class="ml-2">มี</label>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-8 xl:col-9 py-0">
                    <div class="flex flex-row">
                        <div class>
                            <span pButton pRipple type="button" label="ระบุ"
                                class="p-button-secondary p-button-text w-6rem"></span>
                        </div>
                        <div class="flex  pl-2 tw-w-96 ">
                            <input pInputText id="firstname1" type="text" [(ngModel)]="chronic_describe" placeholder
                                class="w-full ui-fluid" />
                        </div>
                    </div>
                </div>
            </div>


            <div class="grid h-full p-4 tw-items-center">
                <div class="col-12 md:col-6 lg:col-4 xl:col-3 py-0 mb-2">
                    <div class="flex flex-row my-auto align-content-center tw-items-center py-0">
                        <div class="font-bold w-11rem">การแพ้ยา</div>
                        <div class="mr-6"><p-radioButton name="is_allergy" [value]="false" [(ngModel)]="is_allergy"
                                id="is_allergy"></p-radioButton>
                            <label for="is_allergy" class="ml-2">ไม่แพ้</label>
                        </div>
                        <div><p-radioButton name="is_allergy" [value]="true" [(ngModel)]="is_allergy"
                                id="is_allergy2"></p-radioButton>
                            <label for="is_allergy2" class="ml-2">แพ้ยา</label>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-8 xl:col-9 py-0">
                    <div class="flex flex-row">
                        <div class>
                            <span pButton pRipple type="button" label="ระบุ"
                                class="p-button-secondary p-button-text w-6rem"></span>
                        </div>
                        <div class="flex  pl-2 tw-w-96 ">
                            <input pInputText id="firstname1" type="text" [(ngModel)]="allergy_describe" placeholder
                                class="w-full ui-fluid" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid h-full p-4 tw-items-center">
                <div class="col-12 md:col-6 lg:col-4 xl:col-3 py-0 mb-2">
                    <div class="flex flex-row my-auto align-content-center tw-items-center py-0">
                        <div class="font-bold w-11rem">การผ่าตัด</div>
                        <div class="mr-6"><p-radioButton name="is_operation" [value]="false" [(ngModel)]="is_operation"
                                id="is_operation"></p-radioButton>
                            <label for="is_operation" class="ml-2">ไม่เคย</label>
                        </div>
                        <div><p-radioButton name="is_operation" [value]="true" [(ngModel)]="is_operation"
                                id="is_operation2"></p-radioButton>
                            <label for="is_operation2" class="ml-2">เคย</label>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-8 xl:col-9 py-0">
                    <div class="flex flex-row">
                        <div class>
                            <span pButton pRipple type="button" label="ระบุ"
                                class="p-button-secondary p-button-text w-6rem"></span>
                        </div>
                        <div class="flex  pl-2 tw-w-96 ">
                            <input pInputText id="firstname1" type="text" [(ngModel)]="operation_describe" placeholder
                                class="w-full ui-fluid" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid h-full p-4 tw-items-center tw-content-start">
                <div class="col-12 md:col-5 lg:col-4 xl:col-3 py-0 mb-2 tw-content-start">
                    <div class="flex flex-row my-auto align-content-center tw-items-center tw-content-start py-0">
                        <div class="font-bold w-11rem">การสูบบุหรี่</div>
                        <div class="mr-6"><p-radioButton name="is_smoke" [value]="false" [(ngModel)]="is_smoke"
                                id="is_smoke"></p-radioButton>
                            <label for="is_smoke" class="ml-2">ไม่สูบ</label>
                        </div>
                        <div><p-radioButton name="is_smoke" [value]="true" [(ngModel)]="is_smoke"
                                id="is_smoke2"></p-radioButton>
                            <label for="is_smoke2" class="ml-2">มีสูบ</label>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-7 lg:col-8 xl:col-9 py-0">
                    <div class="flex flex-row">
                        <div>
                            <div class="mb-1">
                                <button pButton pRipple type="button" label="ระบุ"
                                    class="p-button-secondary p-button-text px-0"></button>
                            </div>
                        </div>
                        <div class="flex flex-wrap">


                            <div class="mb-1">
                                <button pButton pRipple type="button" label="วันละ"
                                    class="p-button-secondary p-button-text"></button>
                            </div>
                            <div class="flex   tw-w-14 mb-1">
                                <input pInputText id="firstname1" type="text" [(ngModel)]="smoke_describe_qty"
                                    placeholder="มวน" class="w-full ui-fluid" />
                            </div>
                            <!-- <div class="mb-1">
                            <button pButton pRipple type="button" label=""
                                class="p-button-secondary p-button-text"></button>
                        </div>
                        <div class="flex   tw-w-14 mb-1">
                            <input pInputText id="firstname1" type="text"  [(ngModel)]="smoke_describe_frequency"
                                placeholder="ต่อวัน" class="w-full ui-fluid" />
                        </div> -->
                            <div class="mb-1">
                                <button pButton pRipple type="button" label="สูบมานาน"
                                    class="p-button-secondary p-button-text"></button>
                            </div>
                            <div class="flex   tw-w-14 mb-1">
                                <input pInputText id="firstname1" type="text" [(ngModel)]="smoke_describe_duration"
                                    placeholder="ปี" class="w-full ui-fluid" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid h-full p-4 tw-items-center tw-content-start">
                <div class="col-12 md:col-5 lg:col-4 xl:col-3 py-0 mb-2 tw-content-start">
                    <div class="flex flex-row my-auto align-content-center tw-items-center tw-content-start py-0">
                        <div class="font-bold w-11rem">การดื่มสุรา</div>

                        <div class="mr-6"><p-radioButton name="is_drink_alchohol" [value]="false"
                                [(ngModel)]="is_drink_alchohol" id="is_drink_alchohol"></p-radioButton>
                            <label for="is_drink_alchohol" class="ml-2">ไม่ดื่ม</label>
                        </div>
                        <div><p-radioButton name="is_drink_alchohol" [value]="true" [(ngModel)]="is_drink_alchohol"
                                id="is_drink_alchohol2"></p-radioButton>
                            <label for="is_drink_alchohol2" class="ml-2">ดื่ม</label>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-7 lg:col-8 xl:col-9 py-0">
                    <div class="flex flex-row">
                        <div>
                            <div class="mb-1">
                                <button pButton pRipple type="button" label="ระบุ"
                                    class="p-button-secondary p-button-text px-0"></button>
                            </div>
                        </div>
                        <div class="flex flex-wrap">

                            <div class="mb-1">
                                <button pButton pRipple type="button" label="ระยะเวลา"
                                    class="p-button-secondary p-button-text"></button>
                            </div>
                            <div class="flex   tw-w-14 mb-1">
                                <input pInputText id="firstname1" type="text"
                                    [(ngModel)]="drink_alchohol_describe_duration" placeholder="ปี"
                                    class="w-full ui-fluid" />
                            </div>
                            <div class="mb-1">
                                <button pButton pRipple type="button" label="จำนวน"
                                    class="p-button-secondary p-button-text"></button>
                            </div>
                            <div class="flex   tw-w-14 mb-1">
                                <input pInputText id="firstname1" type="text" [(ngModel)]="drink_alchohol_describe_qty"
                                    placeholder="ขวด" class="w-full ui-fluid" />
                            </div>
                            <div class="mb-1">
                                <button pButton pRipple type="button" label="ความถี่"
                                    class="p-button-secondary p-button-text"></button>
                            </div>
                            <div class="flex   tw-w-14 mb-1">
                                <input pInputText id="firstname1" type="text" name="dd"
                                    [(ngModel)]="drink_alchohol_describe_frequency" placeholder="ต่อวัน"
                                    class="w-full ui-fluid" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid h-full p-4 tw-items-center" gender *ngIf="gender == 'หญิง'">
                <div class="col-12 md:col-6 lg:col-4 xl:col-3 py-0 mb-2">
                    <div class="flex flex-row my-auto align-content-center tw-items-center py-0">
                        <div class="font-bold w-11rem">การคุมกำเนิด</div>
                        <div class="flex align-items-center">
                            <p-radioButton name="is_birth_control" [value]="false" [(ngModel)]="is_birth_control"
                                id="is_birth_control"></p-radioButton>
                            <label for="is_birth_control" class="ml-2">ไม่มี</label>
                        </div>

                        <div class="flex align-items-center pl-4">
                            <p-radioButton name="is_birth_control" [value]="true" [(ngModel)]="is_birth_control"
                                id="is_birth_control2"></p-radioButton>
                            <label for="is_birth_control2" class="ml-2">มี</label>
                        </div>
                        <div class="flex align-items-center pl-6">
                            <p-calendar [(ngModel)]="last_menstrual_period" dateFormat="yy-mm-dd"
                                (ngModelChange)="onChange($event)" placeholder="LMP"></p-calendar>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-8 xl:col-9 py-0">
                    <div class="flex flex-row">
                        <div class="flex  pl-2 tw-w-20 ">
                            <input pInputText id="gravida" type="text" [(ngModel)]="gravida" placeholder="G"
                                class="w-full ui-fluid" />
                        </div>
                        <div class="flex  pl-2 tw-w-20 ">
                            <input pInputText id="para" type="text" [(ngModel)]="para" placeholder="P"
                                class="w-full ui-fluid" />
                        </div>
                        <div class="flex  pl-2 tw-w-20 ">
                            <input pInputText id="abortion" type="text" [(ngModel)]="abortion" placeholder="A"
                                class="w-full ui-fluid" />
                        </div>
                        <div class="flex  pl-2 tw-w-20 ">
                            <input pInputText id="live_birth" type="text" [(ngModel)]="live_birth" placeholder="L"
                                class="w-full ui-fluid" />
                        </div>
                        <div class="flex  pl-2 tw-w-20 ">
                            <input pInputText id="gestational_age" type="text" [(ngModel)]="gestational_age"
                                placeholder="GA" class="w-full ui-fluid" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid h-full p-4 tw-items-center">
                <div class="col-12 md:col-6 lg:col-4 xl:col-3 py-0 mb-2">
                    <div class="flex flex-row my-auto align-content-center tw-items-center py-0">
                        <div class="font-bold w-11rem">โรคประจำตัวหรือโรคทางพันธุกรรม</div>
                        <div class="mr-6"><p-radioButton name="is_family_disease" [value]="false"
                                [(ngModel)]="is_family_disease" id="is_family_disease"></p-radioButton>
                            <label for="is_family_disease" class="ml-2">ไม่มี </label>
                        </div>
                        <div><p-radioButton name="is_family_disease" [value]="true" [(ngModel)]="is_family_disease"
                                id="is_family_disease2"></p-radioButton>
                            <label for="is_family_disease2" class="ml-2">มี</label>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-8 xl:col-9 py-0">
                    <div class="flex flex-row">
                        <div class>
                            <span pButton pRipple type="button" label="ระบุ"
                                class="p-button-secondary p-button-text w-6rem"></span>
                        </div>
                        <div class="flex  pl-2 tw-w-96 ">
                            <input pInputText id="firstname1" type="text" [(ngModel)]="family_disease_describe"
                                placeholder class="w-full ui-fluid" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="formgroup-inline flex tw-items-center mb-2">
                <button pButton pRipple type="button" label="วัคซีน"
                    class="p-button-secondary p-button-text tw-w-40"></button>
                <div class="flex items-center pl-5">
                    <div class="flex flex-wrap gap-3 items-center">
                        <div class="flex align-items-center">
                            <p-radioButton name="is_child_vaccine_complete" [value]="true"
                                [(ngModel)]="is_child_vaccine_complete" id="is_child_vaccine_complete"></p-radioButton>
                            <label for="is_child_vaccine_complete" class="ml-2">ครบตามเกณฑ์</label>
                        </div>
                        <div class="flex align-items-center">
                            <p-radioButton name="is_child_vaccine_complete" [value]="false"
                                [(ngModel)]="is_child_vaccine_complete" id="is_child_vaccine_complete2"></p-radioButton>
                            <label for="is_child_vaccine_complete2" class="ml-2">ไม่ครบตามเกณฑ์</label>
                        </div>

                    </div>
                </div>

            </div>
            <div class="formgroup-inline flex tw-items-center mb-2">
                <button pButton pRipple type="button" label="พัฒนาการ"
                    class="p-button-secondary p-button-text tw-w-40"></button>
                <div class="flex items-center pl-5">
                    <div class="flex flex-wrap gap-3 items-center">
                        <div class="flex align-items-center">
                            <p-radioButton name="is_child_development_normal" [value]="true"
                                [(ngModel)]="is_child_development_normal"
                                id="is_child_development_normal"></p-radioButton>
                            <label for="is_child_development_normal" class="ml-2">เหมาะสมตามวัย</label>
                        </div>
                        <div class="flex align-items-center">
                            <p-radioButton name="is_child_development_normal" [value]="false"
                                [(ngModel)]="is_child_development_normal"
                                id="is_child_development_normal2"></p-radioButton>
                            <label for="is_child_development_normal2" class="ml-2">ไม่เหมาะสมตามวัย</label>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        
        <!-- ///////////////Review of System////////////////////////////////////////////////////////////////////////////////////// -->
        <div>
            <div class="flex tw-flex-col mt-2">
                <div class="font-bold text-xl text-800 mb-3">Review of System</div>
                <div class="col-12 border-top-2 border-blue-400 mb-1"></div>

                <div
                    class="tw-grid tw-grid-cols-1 sm:tw-grid-cols-1 md:tw-grid-cols-2 lg:tw-grid-cols-3 xl:tw-grid-cols-4 tw-gap-4">
                    <div class="grid h-full p-4 tw-items-center ">
                        <div class="col-12 py-0 mb-2 tw-h-fit">
                            <div class="flex flex-row my-auto tw-content-center tw-items-center py-0 h-full">
                                <div class="flex font-bold w-6rem align-content-center  tw-items-center h-full">
                                    Heent</div>
                                <div
                                    class="options flex flex-row align-content-center align-items-center tw-items-center px-0">
                                    <div>
                                        <label title="item1" class="flex align-content-center tw-items-center p-0">
                                            <input type="radio" name="pheent" [value]="true" [(ngModel)]="pheent" />
                                            <img /> <span class="ml-2">ปกติ</span>
                                        </label>
                                    </div>
                                    <div>
                                        <label title="item2" class="flex align-content-center tw-items-center p-0">
                                            <input type="radio" name="pheent" [value]="false" [(ngModel)]="pheent" />
                                            <img /> <span class="ml-2">ผิดปกติ</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid h-full p-4 tw-items-center ">
                        <div class="col-12 py-0 mb-2 tw-h-fit">
                            <div class="flex flex-row my-auto tw-content-center tw-items-center py-0 h-full">
                                <div class="flex font-bold w-6rem align-content-center  tw-items-center h-full">
                                    Heart</div>
                                <div
                                    class="options flex flex-row align-content-center align-items-center tw-items-center px-0">
                                    <div>
                                        <label title="item1" class="flex align-content-center tw-items-center p-0">
                                            <input type="radio" name="pheart" [value]="true" [(ngModel)]="pheart" />
                                            <img /> <span class="ml-2">ปกติ</span>
                                        </label>
                                    </div>
                                    <div>
                                        <label title="item2" class="flex align-content-center tw-items-center p-0">
                                            <input type="radio" name="pheart" [value]="false" [(ngModel)]="pheart" />
                                            <img /> <span class="ml-2">ผิดปกติ</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid h-full p-4 tw-items-center ">
                        <div class="col-12 py-0 mb-2 tw-h-fit">
                            <div class="flex flex-row my-auto tw-content-center tw-items-center py-0 h-full">
                                <div class="flex font-bold w-6rem align-content-center  tw-items-center h-full">
                                    LUNG</div>
                                <div
                                    class="options flex flex-row align-content-center align-items-center tw-items-center px-0">
                                    <div>
                                        <label title="item1" class="flex align-content-center tw-items-center p-0">
                                            <input type="radio" name="plung" [value]="true" [(ngModel)]="plung" />
                                            <img /> <span class="ml-2">ปกติ</span>
                                        </label>
                                    </div>
                                    <div>
                                        <label title="item2" class="flex align-content-center tw-items-center p-0">
                                            <input type="radio" name="plung" [value]="false" [(ngModel)]="plung" />
                                            <img /> <span class="ml-2">ผิดปกติ</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="grid h-full p-4 tw-items-center ">
                        <div class="col-12 py-0 mb-2 tw-h-fit">
                            <div class="flex flex-row my-auto tw-content-center tw-items-center py-0 h-full">
                                <div class="flex font-bold w-6rem align-content-center  tw-items-center h-full">
                                    Abdomen</div>
                                <div
                                    class="options flex flex-row align-content-center align-items-center tw-items-center px-0">
                                    <div>
                                        <label title="item1" class="flex align-content-center tw-items-center p-0">
                                            <input type="radio" name="pabdomen" [value]="true" [(ngModel)]="pabdomen" />
                                            <img /> <span class="ml-2">ปกติ</span>
                                        </label>
                                    </div>
                                    <div>
                                        <label title="item2" class="flex align-content-center tw-items-center p-0">
                                            <input type="radio" name="pabdomen" [value]="false"
                                                [(ngModel)]="pabdomen" />
                                            <img /> <span class="ml-2">ผิดปกติ</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="grid h-full p-4 tw-items-center ">
                        <div class="col-12 py-0 mb-2 tw-h-fit">
                            <div class="flex flex-row my-auto tw-content-center tw-items-center py-0 h-full">
                                <div class="flex font-bold w-6rem align-content-center  tw-items-center h-full">
                                    Back And CVA</div>
                                <div
                                    class="options flex flex-row align-content-center align-items-center tw-items-center px-0">
                                    <div>
                                        <label title="item1" class="flex align-content-center tw-items-center p-0">
                                            <input type="radio" name="pback_and_cva" [value]="true"
                                                [(ngModel)]="pback_and_cva" />
                                            <img /> <span class="ml-2">ปกติ</span>
                                        </label>
                                    </div>
                                    <div>
                                        <label title="item2" class="flex align-content-center tw-items-center p-0">
                                            <input type="radio" name="pback_and_cva" [value]="false"
                                                [(ngModel)]="pback_and_cva" />
                                            <img /> <span class="ml-2">ผิดปกติ</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="grid h-full p-4 tw-items-center ">
                        <div class="col-12 py-0 mb-2 tw-h-fit">
                            <div class="flex flex-row my-auto tw-content-center tw-items-center py-0 h-full">
                                <div class="flex font-bold w-6rem align-content-center  tw-items-center h-full">
                                    Extremities & Skin</div>
                                <div
                                    class="options flex flex-row align-content-center align-items-center tw-items-center px-0">
                                    <div>
                                        <label title="item1" class="flex align-content-center tw-items-center p-0">
                                            <input type="radio" name="pextremities_and_skin" [value]="true"
                                                [(ngModel)]="pextremities_and_skin" />
                                            <img /> <span class="ml-2">ปกติ</span>
                                        </label>
                                    </div>
                                    <div>
                                        <label title="item2" class="flex align-content-center tw-items-center p-0">
                                            <input type="radio" name="pextremities_and_skin" [value]="false"
                                                [(ngModel)]="pextremities_and_skin" />
                                            <img /> <span class="ml-2">ผิดปกติ</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid h-full p-4 tw-items-center ">
                        <div class="col-12 py-0 mb-2 tw-h-fit">
                            <div class="flex flex-row my-auto tw-content-center tw-items-center py-0 h-full">
                                <div class="flex font-bold w-6rem align-content-center  tw-items-center h-full">
                                    Neuro Signs</div>
                                <div
                                    class="options flex flex-row align-content-center align-items-center tw-items-center px-0">
                                    <div>
                                        <label title="item1" class="flex align-content-center tw-items-center p-0">
                                            <input type="radio" name="pneuro_signs" [value]="true"
                                                [(ngModel)]="pneuro_signs" />
                                            <img /> <span class="ml-2">ปกติ</span>
                                        </label>
                                    </div>
                                    <div>
                                        <label title="item2" class="flex align-content-center tw-items-center p-0">
                                            <input type="radio" name="pneuro_signs" [value]="false"
                                                [(ngModel)]="pneuro_signs" />
                                            <img /> <span class="ml-2">ผิดปกติ</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>


        </div>
        <!-- ////////////แหล่งที่มาข้อมูล///////////////////////////////////////////////////////////////////////////////////////// -->

        <div class="grid h-full p-4 ">
            แหล่งที่มาข้อมูล
        </div>


        <!-- ////////////Physical Exam///////////////////////////////////////////////////////////////////////////////////////// -->
        <div class="grid h-full p-2 mt-2">
            <div class="font-bold text-xl text-800 mb-1">Physical Examination</div>

            <div class="col-12 border-top-2 border-blue-400 tw-h-1"></div>
            <div class="col-12  text-lg font-bold">
                V/S ส่วนสูง: {{ body_height }} ซม. น้ำหนัก: {{ body_weight }} กก. BMI:
                {{ body_weight }} อุณหภูมิร่างกาย: {{ body_temperature }} C
                ความดันโลหิต:
                {{ systolic_blood_pressure }}/{{ diatolic_blood_pressure }} mmHg.
            </div>

            <div class="col-12 md:col-4 lg:col-4 xl:col-4 py-0 mb-2 border-right-1 surface-border">
                <div class="flex tw-flex-col">
                    <div class="flex flex-column mt-2">
                        <div class="grid h-full p-4 tw-items-center ">
                            <div class="col-12 py-0 mb-2 tw-h-fit">
                                <div class="flex flex-row my-auto tw-content-center tw-items-center py-0 h-full">
                                    <div class="flex font-bold w-6rem align-content-center  tw-items-center h-full">
                                        General Appearance</div>
                                    <div
                                        class="options flex flex-row align-content-center align-items-center tw-items-center px-0">
                                        <div>
                                            <label title="item1" class="flex align-content-center tw-items-center p-0">
                                                <input type="radio" name="general_appearance" [value]="true"
                                                    />
                                                <img /> <span class="ml-2">Healthy</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label title="item2" class="flex align-content-center tw-items-center p-0">
                                                <input type="radio" name="general_appearance" [value]="false"
                                                    />
                                                <img /> <span class="ml-2">Active</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="grid h-full p-4 tw-items-center ">
                            <div class="col-12 py-0 mb-2 tw-h-fit">
                                <div class="flex flex-row my-auto tw-content-center tw-items-center py-0 h-full">
                                    <div class="flex font-bold w-6rem align-content-center  tw-items-center h-full">
                                        Heent</div>
                                    <div
                                        class="options flex flex-row align-content-center align-items-center tw-items-center px-0">
                                        <div>
                                            <label title="item1" class="flex align-content-center tw-items-center p-0">
                                                <input type="radio" name="heent" [value]="true" [(ngModel)]="heent" />
                                                <img /> <span class="ml-2">ปกติ</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label title="item2" class="flex align-content-center tw-items-center p-0">
                                                <input type="radio" name="heent" [value]="false" [(ngModel)]="heent" />
                                                <img /> <span class="ml-2">ผิดปกติ</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid h-full p-4 tw-items-center ">
                            <div class="col-12 py-0 mb-2 tw-h-fit">
                                <div class="flex flex-row my-auto tw-content-center tw-items-center py-0 h-full">
                                    <div class="flex font-bold w-6rem align-content-center  tw-items-center h-full">
                                        Heart</div>
                                    <div
                                        class="options flex flex-row align-content-center align-items-center tw-items-center px-0">
                                        <div>
                                            <label title="item1" class="flex align-content-center tw-items-center p-0">
                                                <input type="radio" name="heart" [value]="true" [(ngModel)]="heart" />
                                                <img /> <span class="ml-2">ปกติ</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label title="item2" class="flex align-content-center tw-items-center p-0">
                                                <input type="radio" name="heart" [value]="false" [(ngModel)]="heart" />
                                                <img /> <span class="ml-2">ผิดปกติ</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid h-full p-4 tw-items-center ">
                            <div class="col-12 py-0 mb-2 tw-h-fit">
                                <div class="flex flex-row my-auto tw-content-center tw-items-center py-0 h-full">
                                    <div class="flex font-bold w-6rem align-content-center  tw-items-center h-full">
                                        LUNG</div>
                                    <div
                                        class="options flex flex-row align-content-center align-items-center tw-items-center px-0">
                                        <div>
                                            <label title="item1" class="flex align-content-center tw-items-center p-0">
                                                <input type="radio" name="lung" [value]="true" [(ngModel)]="lung" />
                                                <img /> <span class="ml-2">ปกติ</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label title="item2" class="flex align-content-center tw-items-center p-0">
                                                <input type="radio" name="lung" [value]="false" [(ngModel)]="lung" />
                                                <img /> <span class="ml-2">ผิดปกติ</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="grid h-full p-4 tw-items-center ">
                            <div class="col-12 py-0 mb-2 tw-h-fit">
                                <div class="flex flex-row my-auto tw-content-center tw-items-center py-0 h-full">
                                    <div class="flex font-bold w-6rem align-content-center  tw-items-center h-full">
                                        Abdomen</div>
                                    <div
                                        class="options flex flex-row align-content-center align-items-center tw-items-center px-0">
                                        <div>
                                            <label title="item1" class="flex align-content-center tw-items-center p-0">
                                                <input type="radio" name="abdomen" [value]="true"
                                                    [(ngModel)]="abdomen" />
                                                <img /> <span class="ml-2">ปกติ</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label title="item2" class="flex align-content-center tw-items-center p-0">
                                                <input type="radio" name="abdomen" [value]="false"
                                                    [(ngModel)]="abdomen" />
                                                <img /> <span class="ml-2">ผิดปกติ</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="grid h-full p-4 tw-items-center ">
                            <div class="col-12 py-0 mb-2 tw-h-fit">
                                <div class="flex flex-row my-auto tw-content-center tw-items-center py-0 h-full">
                                    <div class="flex font-bold w-6rem align-content-center  tw-items-center h-full">
                                        Back And CVA</div>
                                    <div
                                        class="options flex flex-row align-content-center align-items-center tw-items-center px-0">
                                        <div>
                                            <label title="item1" class="flex align-content-center tw-items-center p-0">
                                                <input type="radio" name="back_and_cva" [value]="true"
                                                    [(ngModel)]="back_and_cva" />
                                                <img /> <span class="ml-2">ปกติ</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label title="item2" class="flex align-content-center tw-items-center p-0">
                                                <input type="radio" name="back_and_cva" [value]="false"
                                                    [(ngModel)]="back_and_cva" />
                                                <img /> <span class="ml-2">ผิดปกติ</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="grid h-full p-4 tw-items-center ">
                            <div class="col-12 py-0 mb-2 tw-h-fit">
                                <div class="flex flex-row my-auto tw-content-center tw-items-center py-0 h-full">
                                    <div class="flex font-bold w-6rem align-content-center  tw-items-center h-full">
                                        Extremities & Skin</div>
                                    <div
                                        class="options flex flex-row align-content-center align-items-center tw-items-center px-0">
                                        <div>
                                            <label title="item1" class="flex align-content-center tw-items-center p-0">
                                                <input type="radio" name="extremities_and_skin" [value]="true"
                                                    [(ngModel)]="extremities_and_skin" />
                                                <img /> <span class="ml-2">ปกติ</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label title="item2" class="flex align-content-center tw-items-center p-0">
                                                <input type="radio" name="extremities_and_skin" [value]="false"
                                                    [(ngModel)]="extremities_and_skin" />
                                                <img /> <span class="ml-2">ผิดปกติ</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid h-full p-4 tw-items-center ">
                            <div class="col-12 py-0 mb-2 tw-h-fit">
                                <div class="flex flex-row my-auto tw-content-center tw-items-center py-0 h-full">
                                    <div class="flex font-bold w-6rem align-content-center  tw-items-center h-full">
                                        Neuro Signs</div>
                                    <div
                                        class="options flex flex-row align-content-center align-items-center tw-items-center px-0">
                                        <div>
                                            <label title="item1" class="flex align-content-center tw-items-center p-0">
                                                <input type="radio" name="neuro_signs" [value]="true"
                                                    [(ngModel)]="neuro_signs" />
                                                <img /> <span class="ml-2">ปกติ</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label title="item2" class="flex align-content-center tw-items-center p-0">
                                                <input type="radio" name="neuro_signs" [value]="false"
                                                    [(ngModel)]="neuro_signs" />
                                                <img /> <span class="ml-2">ผิดปกติ</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-12 md:col-4 lg:col-4 xl:col-4 py-0 mb-2 border-right-1 surface-border">
                <div class="flex tw-flex-col">

                    <div class="flex text-lg font-bold">
                        ผลตรวจร่างกายอื่นๆ
                    </div>

                    <div>
                        <b>.</b>
                    </div>
                    <div class="grid h-full p-4 tw-items-center">
                        <div class="col-12 py-0 mb-2">
                            <textarea rows="5" cols="30" class="w-full" [(ngModel)]="general_appearance"
                                placeholder="Your Message" pInputTextarea></textarea>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-4 lg:col-4 xl:col-4 py-0 mb-2 ">
                image body
                <div class="flex w-fit h-full  align-items-center">
                    <img src="../../../../assets/images/body.jpg" class="tw-max-w-full tw-h-auto" />
                </div>
            </div>
        </div>

        <!-- ////////////Lab  Findding///////////////////////////////////////////////////////////////////////////////////////// -->
        <div class="grid h-full p-2 mt-2 mb-3">
            <div class="col-12 border-top-2 border-blue-400 tw-h-1"></div>

            <div class="col-12 md:col-4 lg:col-4 xl:col-4 py-0 mb-2 border-right-1 surface-border">
                Lab finding ผลการชัณสูตรที่สำคัญ
            </div>
            <div class="col-12 md:col-4 lg:col-4 xl:col-4 py-0 mb-2 border-right-1 surface-border">
                CBC
                <div class="grid">
                    <div class="col-12">

                    </div>
                    <div class="grid col-12 bg-rose-100 justify-content-center align-items-center">
                        <div class="flex w-fit h-full  align-items-center">

                            <img src="../../../../assets/images/fish.png" class="tw-max-w-full tw-h-auto" />

                        </div>
                    </div>
                    <div class="col-12">

                    </div>

                </div>
            </div>
            <div class="col-12 md:col-4 lg:col-4 xl:col-4 py-0 mb-2 ">
                Elyte
                <div class="grid">
                    <div class="col-12">

                    </div>
                    <div class="grid col-12 bg-rose-100 justify-content-center align-items-center">
                        <img src="../../../../assets/images/elytePlus.png" height="50" width="50" />
                    </div>
                    <div class="col-12">

                    </div>

                </div>
            </div>

        </div>

        <!-- ///////////////////////////////////////////////////////////////////////////////////////////////////// -->
        <div class="grid h-full p-1 ">

            <div class="col-12 border-top-2 border-blue-400"></div>

            <div class="col-12 md:col-6 mb-2 content-center">

                <span class="text-bold pl-4 pt-1 mr-2 w-32 text-lg font-bold">การวินิจฉัยโรค</span>
                <textarea rows="5" cols="30" class="w-full" placeholder="อื่นๆ ระบุ" pInputTextarea
                    [(ngModel)]="diagnosis"></textarea>

            </div>

            <div class="col-12 md:col-6 mb-2 content-center">
                <span class="text-bold pl-4 pt-1 mr-2 w-32 text-lg font-bold">แผนการรักษา</span>
                <textarea rows="5" cols="30" class="w-full" placeholder="อื่นๆ ระบุ" pInputTextarea
                    [(ngModel)]="plan_of_treatment"></textarea>
            </div>

        </div>
        <div class="grid h-full p-1 ">

            <div class="col-12 border-top-2 border-blue-400"></div>

            <div class="col-12 md:col-6 mb-2 content-center">

                <span class="text-bold pl-4 pt-1 mr-2 w-32 text-lg font-bold">Doctor signature </span>


            </div>

            <div class="col-12 md:col-6 mb-2 content-center">
                <span class="text-bold pl-4 pt-1 mr-2 w-32 text-lg font-bold">Attending Physical</span>

            </div>

        </div>


        <div class="flex flex-wrap gap-2 mt-4 justify-content-center">
            <button pButton pRipple type="button" class="tw-w-32" label="บันทึก" (click)="saveAdmissionNote()"></button>

            <button pButton pRipple type="button" label="ยกเลิก" class="p-button-secondary tw-w-32"
                (click)="resetForm()"></button>

            <!-- <button pButton pRipple type="button" label="ยกเxxxxลิก" class="p-button-danger tw-w-32"
                (click)="testme()"></button> -->
            <p-toast></p-toast>
            <!-- <button type="button" pButton pRipple (click)="show()" label="Show" class="p-button-success"></button> -->

            <!-- <p-speedDial [model]="speedDialitems" className="speeddial-left" direction="down"
                [transitionDelay]="50" showIcon="pi pi-bars" hideIcon="pi pi-times"
                buttonClassName="p-button-outlined"></p-speedDial> -->
        </div>
    </div>
</div>