<div class="col-12 p-0" style="position: relative;">
    <ngx-spinner bdColor="rgba(0,0,0,0.8)" color="#fff" type="timer" size="large" [fullScreen]="false">
        <p style="color: white;margin-top: 30px;">Loading Datas...</p>
        <!--if fullscreen false  Your parent container(div) should have position: relative;  -->
    </ngx-spinner>

    <div class="col-12 p-0">
        <!--/////// speedDial ////////-->
        <div class="grid tw-relative tw-w-full">        
            <div class="grid tw-fixed  tw-h-screen pl-10 ">
                <div style="position: relative;left: 20; top: calc(50% - 10rem);margin-left: 15px;"  >                  
                   <p-speedDial [model]="speedDialitems" direction="right"  [transitionDelay]="50" showIcon="pi pi-bars" hideIcon="pi pi-times"
                    buttonClassName="p-button-outlined" class="ml-3"></p-speedDial>
                </div>
              
            </div>
        </div>
        <!--/////// speedDial End////////-->
        <div class="col-12">
            <div class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-3 gap-3">
                <div class="flex align-items-center">
                    <img src="assets/demo/images/avatar/profile.jpg" width="64" alt="profile"
                        class="border-circle border-2 border-primary flex-shrink-0" />
                    <div class="ml-3">
                        <span class="text-4xl font-light">{{title}}{{fname}} {{lname}}</span>
                        <div class="text-color-secondary">
                            <span class="text-black-alpha-90 font-bold mr-2">อายุ :</span>
                            <span class="text-black-alpha-60 font-semibold mr-4">{{age |thaiage}} </span>
                            <span class="text-black-alpha-90 font-bold mr-2">เพศ :</span>
                            <span class="text-black-alpha-60 font-semibold mr-4">{{gender}} </span>
                            <span class="text-black-alpha-90 font-bold mr-2">AN :</span>
                            <span class="text-black-alpha-60 font-semibold mr-4">{{an}} </span>
                            <span class="text-black-alpha-90 font-bold mr-2">HN :</span>
                            <span class="text-black-alpha-60 font-semibold">{{hn}} </span>
                        </div>
                    </div>
                </div>
                <div class="flex align-items-center justify-content-between gap-3">
                    <!-- <button pButton pRipple icon="pi pi-arrow-left"
                    class="p-button-rounded p-button-outlined">ย้อนกลับ</button> -->
                    <button pButton pRipple icon="pi pi-arrow-left" type="button" label="ย้อนกลับ"
                        class="p-button-outlined" (click)="back()"></button>

                </div>
            </div>
        </div>



        <div class="card p-0 grid grid-nogutter" style="padding: 2px !important;">

            <div class="col-12 md:col-4 lg:col-4 py-2 px-2 border-none md:border-right-1 surface-border">

                <app-progress-note *ngIf="dataLoaded" [parentData]="parentData"></app-progress-note>
                <div *ngIf="!(dataLoaded)">Loading...</div>

            </div>

            <div class="col-12 md:col-4 lg:col-4 py-2 px-2 border-none md:border-right-1 surface-border">
                <app-order-oneday *ngIf="dataLoaded" [parentData]="parentData"></app-order-oneday>
                <div *ngIf="!(dataLoaded)">Loading...</div>
            </div>

            <div class="col-12 md:col-4 lg:col-4 py-2 px-2  surface-border">
                <app-order-continue *ngIf="dataLoaded" [parentData]="parentData"></app-order-continue>
                <div *ngIf="!(dataLoaded)">Loading...</div>

            </div>



        <!-- </div>

<<<<<<< HEAD
    </div>

    <div *ngFor="let items of listDoctorOrder">
        <div class="text-900 font-semibold text-lg mt-5 mb-3
    border-bottom-1 surface-border py-3">
            {{items.doctor_order_date |thaidate:'full'}}</div>
        <div class="flex flex-wrap">

            <div class=" md:tw-w-1/3 lg:tw-w-1/3 xl:tw-w-1/3 px-4">
                <div class="flex flex-column align-items-start">

                    <div class="flex align-items-center gap-2 flex-wrap mt-2 p-0">S:
                        <p-chip label="{{items.progress_note.subjective[0] }} " class="text-sm p-0"></p-chip>
                    </div>
                    <div class="flex align-items-center gap-2 flex-wrap mt-2 p-0">O:
                        <p-chip label="{{items.progress_note.objective[0]}}" class="text-sm p-0"></p-chip>
                    </div>
                    <div class="flex align-items-center gap-2 flex-wrap mt-2 p-0">A:
                        <p-chip label="{{items.progress_note.assertment}}" class="text-sm p-0"></p-chip>
                    </div>
                    <div class="flex align-items-center gap-2 flex-wrap mt-2 p-0">P:
                        <p-chip label="{{items.progress_note.plan}}" class="text-sm p-0"></p-chip>
                    </div>
                    <div class="flex align-items-center gap-2 flex-wrap mt-2 p-0">N:
                        <p-chip label="{{items.progress_note.note}}" class="text-sm p-0"></p-chip>
                    </div>

                </div>

=======
        <div class="card">
            <div class="mt-2 p-1 flex w-max align-items-center bg-blue-100 tw-rounded">
                <span
                    class="bg-blue-500 text-white flex align-items-center justify-content-center border-circle mr-2 p-1">
                    <i class="pi pi-book text-xs"></i>
                </span>
                <span class="text-blue-500 text-2xl">Doctor Order [ ก่อนหน้านี้ ]</span>
>>>>>>> 46f5a32c281ba93f839b29f5473a1c4b6e0a8efc
            </div>

            <div *ngFor="let items of listDoctorOrder;let i = index">
                <div class="text-900 font-semibold text-lg mt-2 mb-3  border-bottom-1 surface-border py-3">
                    {{items.doctor_order_date |thaidate:'full'}} {{items.doctor_order_time}}
                </div>
                <div class="flex flex-wrap">

                    <div class=" md:tw-w-1/3 lg:tw-w-1/3 xl:tw-w-1/3 px-4">
                        <div class="flex flex-column align-items-start">

                            <div class="flex align-items-center gap-2 flex-wrap mt-2 p-0">S:
                                <p-chip *ngIf="items.progress_note" label="{{items.progress_note.subjective }} "
                                    class="text-sm p-0"></p-chip>
                            </div>
                            <div class="flex align-items-center gap-2 flex-wrap mt-2 p-0">O:
                                <p-chip *ngIf="items.progress_note" label="{{items.progress_note.objective}}"
                                    class="text-sm p-0"></p-chip>
                            </div>
                            <div class="flex align-items-center gap-2 flex-wrap mt-2 p-0">A:
                                <p-chip *ngIf="items.progress_note" label="{{items.progress_note.assertment}}"
                                    class="text-sm p-0"></p-chip>
                            </div>
                            <div class="flex align-items-center gap-2 flex-wrap mt-2 p-0">P:
                                <p-chip *ngIf="items.progress_note" label="{{items.progress_note.plan}}"
                                    class="text-sm p-0"></p-chip>
                            </div>
                            <div class="flex align-items-center gap-2 flex-wrap mt-2 p-0">N:
                                <p-chip *ngIf="items.progress_note" label="{{items.progress_note.note}}"
                                    class="text-sm p-0"></p-chip>
                            </div>

                        </div>

                    </div>
                    <div class=" md:tw-w-1/3 lg:tw-w-1/3 xl:tw-w-1/3 px-4">
                        <div *ngIf="items.order">
                            <div *ngFor="let item of items.order">
                                <div *ngIf="item.order_type_id == 1">
                                    <div class="flex  gap-2 flex-wrap mt-2 p-0">
                                        <p-chip
                                            label="{{item.item_name}} {{item.medicine_usage_code}}-{{item.medicine_usage_extra}} ({{item.quantity}})"
                                            class="text-sm p-0"></p-chip>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>



                    <div class=" md:tw-w-1/3 lg:tw-w-1/3 xl:tw-w-1/3 px-4" *ngIf="i ==0">
                        <div *ngFor="let item1 of listDoctorOrder">
                            <div *ngFor="let item2 of item1.order">
                                <div *ngIf="item2.order_type_id == 2"> 
                                    <div class="flex  gap-2 flex-wrap mt-2 p-0">
                                        <p-chip
                                            label="{{item2.item_name}} {{item2.medicine_usage_code}}-{{item2.medicine_usage_extra}} ({{item2.quantity}})"
                                            class="text-sm p-0"></p-chip>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class=" md:tw-w-1/3 lg:tw-w-1/3 xl:tw-w-1/3 px-4" *ngIf="i >=1">
                        <div *ngIf="items.order">
                            <div *ngFor="let item of items.order;let ind = index">
                                <div *ngIf="item.order_type_id == 2">
                                    <div class="flex  gap-2 flex-wrap mt-2 p-0">
                                        <p-chip
                                            label="{{item.item_name}} {{item.medicine_usage_code}}-{{item.medicine_usage_extra}} ({{item.quantity}})"
                                            class="text-sm p-0"></p-chip>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<<<<<<< HEAD
</div>
-->
=======
</div>
>>>>>>> 46f5a32c281ba93f839b29f5473a1c4b6e0a8efc
